*{
  box-sizing: border-box;
}
@font-face {
    font-family: 'Museo Cyrl 900';
    src: url('../fonts/MuseoCyrl-900.woff') format('woff2'),
        url('../fonts/MuseoCyrl-900.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body{
 font-family: 'Roboto', sans-serif;
  color: #202020;
}
.header {
  padding: 22px 0;
  background-color: rgb(241, 241, 241);
  
}
.header-container{
  max-width: 1140px;
  margin:auto;
  display: flex;
  justify-content: space-between;
}
.nav-link{
  margin-left: 11px;
  margin-right: 11px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Tahoma";
  color: rgb(32, 32, 32);
  }
.logo{
  font-size: 14px;
  font-family: "Tahoma";
  color: rgb(32, 32, 32);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.login{
  margin-left: 11px;
  margin-right: 11px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Tahoma";
  color: rgb(32, 32, 32);
}
/* главная секция */
.hero{
  padding-top: 62px;
  padding-bottom: 71px;
}
.hero-container{
  max-width: 1140px;
  margin:auto;
  display: flex;
  align-items: center;

}
.hero-image{
  margin-right: 122px;
}
.author{
  display: block;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 22px;
  }

.title{
  font-family: "Museo Cyrl 900";
  font-size: 54px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}
.subtitle{
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 48px;
}
.info{
  
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
  gap: 16px 0;
  
}
.info-text{
  flex-basis: 45%;
  font-size: 16px;
  font-weight: 400;
  
}
.price{
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.pricetag{
  margin-right: 64px;
  font-weight: 400;
  font-size: 55px;
}
.favorites{
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.buttons{
  display: flex;
  gap: 20px;
}
.button{
  font-size: 16px;
  font-weight: 700;
  padding: 22px 50px;
  border-radius: 5px;
  border: 2px solid transparent;
  
  }
.button-primary{
  color: #ffffff;
  background-color: rgb(248, 156, 2);
 
  cursor: pointer;
}
.button-outline{
  color: rgb(248, 156, 2);
  text-decoration: none;
  border: 2px solid rgb(248, 156, 2);
  border-radius: 5px;
  }